body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('http://www.electricgnome.com/codiad/workspace/Kappa/image/polonez_car.png');
  }

  main {
    flex: 1 0 auto;
  }

  .optional {
    display:none;
  }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 200px;
}